@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}

/* dark 2 */
.text-gray{
    color: #424242;
}

/* dark 3 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
}
/* header style */
/* navbar style */
nav{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.banner, nav{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner style */
.banner-content{
    max-width: 850px;
    margin: 0 auto 50px;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner img{
    width: 100%;
}

/* responsive header */
@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
    }
}