@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style */
.display-flex {
    display: flex;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.text-primary{
    color: #FF900E;
}

/* dark 2 */
.text-gray {
    color: #424242;
}

/* dark 3 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.section-title{
    font-size: 2.81rem;
    font-weight: 700;
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
}

/* header style */
/* navbar style */
nav {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.banner,
nav {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner style */
.banner-content {
    max-width: 850px;
    margin: 0 auto 50px;
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    width: 100%;
}

/* our feature section */
.teams {
    align-items: center;
    justify-content: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 25px;
}

.our-features {
    margin-left: 70px;
    max-width: 530px;
}

.feature-des{
    margin-bottom: 30px;
    line-height: 26px;
}
#quick-list{
    font-weight: 500;
}

/* features section */
.features{
    gap: 140px;
}
.features div h3{
    padding-left: 20px;
    border-left: 5px solid #FF900E;
}

.features>div>p{
    max-width: 580px;
    margin-bottom: 30px;
    line-height: 26px;
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -92px;
    margin-top: -120px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.feature-architect img{
    width: 100%;
}
.feature-card{
    max-width: 514px;
    padding: 30px 40px 30px 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    margin-bottom: 20px;
}
.features .feature-card h4{
    font-size: 1.25rem;
    margin: 5px 0;
    font-weight: 600;
}
.features .feature-card p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
}
/* some fact section */
.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 241px);
    gap: 124px;
    margin-top: 100px;
}
.some-facts > p {
    max-width: 540px;
}
.fact{
    border: 1px solid #FF900E;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 240px;
    height: 240px;
}
.fact-number{
    font-size: 2.81rem;
    font-weight: 600;
    margin: 5px 0px 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

/* our sponsors styling */
.sponsor-info{
    max-width: 540px;
    margin: 0 auto 50px;
    text-align: center;
}

.sponsor-img{
    filter: grayscale(100%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

footer{
    background-color: #FFF4E7;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    margin: 130px auto 116px;
    border-radius: 8px;
}

/* responsive design */
@media screen and (max-width: 576px) {
    nav, .teams, .features {
        flex-direction: column;
    }

    section{
        margin-top: 50px;
    }

    .team-img-container{
        gap: 10px;
    }

    .team-img-container img{
        width: 100%;
    }

    .our-features{
        margin-left: 10px;
    }
    .features{
        gap: 50px;
    }
    .feature-architect{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    #experience-badge{
        margin: -120px auto;
        padding: 20px 30px;
    }
    .feature-architect button #experience-year{
        font-size: 2rem;
    }
    .feature-architect button #experience{
        font-size: 1rem;
    }
    .fact-container {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 25px;
        margin-top: 50px;
    }

    .sponsor-img{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 50px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams, .features{
        flex-direction: column;
    }
    .team-img-container img{
        width: 80%;
    }
    .team-img-container img:nth-child(odd), .fact:nth-child(odd){
        justify-self: end;
    }
    .team-img-container img:nth-child(even), .fact:nth-child(even){
        justify-self: start;
    }
    .our-features{
        margin: 0 auto;
    }
    .feature-architect{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    #experience-badge{
        margin: -120px auto;
    }
    .fact-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 25px;
        margin-top: 50px;
    }
    .sponsor-img{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 50px;
    }
}